:root {
  --boxview-icon-color: rgb(140, 140, 140);
  --boxview-icon-color-hover: rgb(220, 220, 220);
  --boxview-icon-color-disable: rgb(60, 60, 60);

  --boxview-icon-transition: linear 0.2s;
  --boxview-media-transition: linear 0.2s;
}

.boxview-video-wrapper,
.boxview-iframe-wrapper {
  display: inline-block;
  position: relative;
}

.boxview-video-play-button {
  width: 52px;
  height: 52px;
  position: absolute;
  content: '';
  top: 50%;
  right: 51%;
  transform: translateY(-50%);
  background: url(./play_circle_black_24dp.svg) no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  /* background-size: calc(50px + 10%); */
  z-index: 1;
}

.boxview-open-button {
  display: none;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  width: 52px;
  height: 52px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: url(../utils/icons/launch_black_48dp.svg) no-repeat;
  background-color: #00000050;
  background-position: center;
  /* background-size: calc(50px + 10%); */
  z-index: 1;
}

.boxview-video-wrapper:hover .boxview-open-button {
  display: flex;
  visibility: visible;
}

.boxview-iframe-wrapper:hover .boxview-open-button {
  display: flex;
  visibility: visible;
}

.boxview-video-play-button_hidden,
.boxview-open-button_hidden {
  visibility: hidden;
  opacity: 0;
}

.boxview .button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.boxview .button_disable {
  cursor: default;
}

.boxview .button_hidden {
  visibility: hidden;
  opacity: 0;
}

.boxview .button_visible {
  visibility: visible;
  opacity: 1;
}

.boxview .button_disable .svg-icon_disable {
  fill: var(--boxview-icon-color-disable);
}

.boxview {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  border: none;
  background-color: rgba(0, 0, 0, 0.95);
}

.boxview *,
.boxview *::before,
.boxview *::after {
  border: solid 1px red;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.boxview:modal {
  min-width: 100vw;
  min-height: 100vh;
}

.boxview__container {
  --boxview-padding: 1rem;
  height: 100%;
  padding-inline: var(--boxview-padding);
  padding-block-start: var(--boxview-padding);
  padding-block-end: 0;
  --boxview-control-bar-height: 60px;
  /* option =  media preview adjustment */
  --thumbnails-track-height: 0px;
  --boxview-media-margin: 10px;
  --boxview-thumbnails-track-margin: 0px;
  --boxview-thumbnails-track-scroll-height: 0px;
  /* option = aspect-ratio */
  --boxview-horizontal-thumbnail-aspect-ratio: 16/9;
  --boxview-vertical-thumbnail-aspect-ratio: 4/6;
  --boxview-vertical-thumbnail-width: calc(
    var(--thumbnails-track-height) *
      var(--boxview-vertical-thumbnail-aspect-ratio)
  );
  --boxview-horizontal-thumbnail-width: calc(
    var(--thumbnails-track-height) *
      var(--boxview-horizontal-thumbnail-aspect-ratio)
  );

  /* option = border-radius */
  --boxview-media-border-radius: 12px;
}

/* .boxview__container:fullscreen {
  background-color: red;
} */

.boxview__control-bar {
  position: sticky;
  position: -webkit-sticky;
  inset-block-start: 0;
  inset-inline-start: 0;
  height: var(--boxview-control-bar-height);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 25px;
  width: 100%;
  padding-inline: 15px;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.75);
}

/* Controls */
.svg-icon {
  fill: var(--boxview-icon-color);
  transition: all var(--boxview-icon-transition);
}

.svg-icon:hover {
  fill: var(--boxview-icon-color-hover);
}

.boxview__controls-buttons {
  width: 100%;
  display: flex;
  column-gap: 25px;
}

/* Fullscreen */
.boxview__fullscreen-buttons {
  position: relative;
  width: 32px;
  height: 32px;
}

.boxview__fullscreen-button {
  position: absolute;
  width: 32px;
  height: 32px;
}

/* Share */
.share-options-buttons {
  visibility: hidden;
  position: absolute;
  inset-inline-start: 60px;
  width: max-content;
  height: max-content;
  display: flex;
  gap: 15px;
  background: rgba(0, 0, 0, 1);
  border-radius: 5px;
  transition: visibility linear 0.2s;
}

.share-options-buttons_active {
  visibility: visible;
}

.boxview__controls-buttons_type_share {
  margin-inline-end: auto;
}

.boxview__controls-buttons_type_interactive {
  display: flex;
  justify-content: center;
}

/* Close */
.boxview__close-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Zoom */
.boxview__zoom-button {
  display: none;
}

.boxview__zoom-button_visible {
  display: inline-block;
}

/* Auto-Scroll */
.boxview__auto-scroll-buttons {
  position: relative;
  width: 32px;
  height: 32px;
}

.boxview__auto-scroll-button {
  position: absolute;
  width: 32px;
  height: 32px;
}

/* Thumbnails */
.boxview__thumbnails-buttons {
  position: relative;
  width: 32px;
  height: 32px;
}

.boxview__thumbnails-button {
  position: absolute;
  width: 32px;
  height: 32px;
}

.boxview__thumbnails-icon {
  rotate: 90deg;
}

.boxview__content {
  height: calc(100% - var(--boxview-control-bar-height));
  display: flex;
  flex-flow: column;
  align-items: center;
}

.boxview__main-content {
  position: relative;
  display: flex;
  align-items: center; /* To center "boxview__media" element whose height in pixels is lower than "boxview__main-content" element height */
  justify-content: center;
  margin-block-end: var(--boxview-padding);
  height: calc(
    100% - var(--thumbnails-track-height) - var(--boxview-padding) -
      var(--boxview-thumbnails-track-scroll-height) -
      var(--boxview-thumbnails-track-margin)
  );
  width: 100%;
  border: solid 1px blueviolet;
}

/* Navigate */
/* .boxview__navigation-buttons {
  position: absolute;
  inset: 0 0;
  height: calc(
    100% - var(--thumbnails-track-height) - var(--boxview-padding) * 2 -
      var(--boxview-thumbnails-track-scroll-height) -
      var(--boxview-thumbnails-track-margin) - var(--boxview-control-bar-height)
  );
} */

.boxview__navigate-button {
  position: absolute;
  height: 100%;
  --navigate-button-width: 50px;
  width: var(--navigate-button-width);

  z-index: 1;
}

.boxview__navigate-button_before {
  inset-inline-start: 0px;
}

.boxview__navigate-button_next {
  inset-inline-start: calc(
    100vw - var(--boxview-padding) * 2 - var(--navigate-button-width)
  );
}

.svg-icon_nav {
  border-radius: 50%;
  fill: rgb(220, 220, 220);
  background-color: rgba(0, 0, 0, 0.4);
  transition: transform var(--boxview-icon-transition);
}

.boxview__navigate-button:hover .svg-icon_nav {
  transform: scale(1.2);
  fill: rgb(250, 250, 250);
}

.boxview__media {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: var(--boxview-media-border-radius);
  border: solid 1px red;
}

.boxview__img,
.boxview__video,
.boxview__iframe {
  border: solid 1px white;
  border-radius: var(--boxview-media-border-radius);
  transition: var(--boxview-media-transition);
}

.boxview__img {
  max-height: 100%;
  max-width: 100%;
}

/* Iframe does not accept % value */
.boxview__iframe,
.boxview__video {
  height: calc(
    100vh - var(--thumbnails-track-height) - var(--boxview-control-bar-height) -
      var(--boxview-padding) * 2
  );
  aspect-ratio: 16/9;
}

.boxview__thumbnails-track {
  display: none;
  max-width: 100%;
  margin-block-end: var(--boxview-thumbnails-track-margin);
  padding-block-end: var(--boxview-thumbnails-track-scroll-height);
  height: calc(
    var(--thumbnails-track-height) +
      var(--boxview-thumbnails-track-scroll-height)
  );
  grid-auto-flow: column;
  gap: 6px;
  grid-auto-columns: var(--media-preview-width);
  scroll-behavior: smooth;
  overflow-y: hidden;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.boxview__thumbnails-track_visible {
  display: grid;
}

.boxview__thumbnail {
  border: solid 1px transparent;
  /* option = border-radius */
  border-radius: 4px;
  transition: all linear 0.2s;
  object-fit: cover;
  object-position: center;
  height: calc(var(--thumbnails-track-height));
}

.boxview__thumbnail_active {
  border: solid 2px;
  /* option = border-color */
  border-color: white;
}

.boxview__thumbnail_horizontal {
  width: var(--boxview-horizontal-thumbnail-width);
  height: calc(var(--thumbnails-track-height));
}

.boxview__thumbnail_vertical {
  width: var(--boxview-vertical-thumbnail-width);
  height: calc(var(--thumbnails-track-height));
}

.boxview__thumbnail_square {
  width: calc(var(--thumbnails-track-height));
  height: calc(var(--thumbnails-track-height));
}

.boxview__thumbnail:hover {
  outline: solid 1px;
  /* option = border-color */
  border-color: white;
}

/* Scrollbar */
/* Boxview thumbnails scrollbar */
body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Boxview thumbnails scrollbar */
.boxview__thumbnails-track::-webkit-scrollbar {
  display: none;
  height: 8px;
}

.boxview__thumbnails-track:hover::-webkit-scrollbar {
  display: block;
}

.boxview__thumbnails-track::-webkit-scrollbar-track {
  background-color: rgb(40, 40, 40);
  border-radius: 100vw;
}

.boxview__thumbnails-track::-webkit-scrollbar-thumb {
  background-color: var(--boxview-icon-color);
  border: 2px solid rgb(40, 40, 40);
  border-radius: 100vw;
}

.boxview__thumbnails-track::-webkit-scrollbar-thumb:hover {
  background-color: var(--boxview-icon-color-hover);
}
