/* Each selector contains one or more of these labels: "Core Style" , "Preference Style" and "Recommended Style"

"Core Style" means that all is properties are the style of the foundation of the library
and cannot exist without them, therefore they should not be changed at all.

"Preference Style" means that all is properties they are styles that can be changed according to the user's needs and personal taste.
(done by defining a JS object according to the documentation).
The current properties settings are the library's default style.

"Recommended Style" means that all is properties they are styles >>

*/

:root {
  --boxview-icon-color: rgb(140, 140, 140);
  --boxview-icon-color-hover: rgb(220, 220, 220);
  --boxview-icon-color-disable: rgb(60, 60, 60);
  --boxview-background-color: rgba(0, 0, 0, 0.95);

  --boxview-icon-transition: linear 0.2s;
  --boxview-media-transition: linear 0.2s;
}

.boxview-video-wrapper,
.boxview-iframe-wrapper {
  display: inline-block;
  position: relative;
}

/* .boxview-video-play-button {
  width: 52px;
  height: 52px;
  position: absolute;
  content: '';
  top: 50%;
  right: 51%;
  transform: translateY(-50%);
  background: url(./play_circle_black_24dp.svg) no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  z-index: 1;
} */

.boxview-open-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 52px;
  height: 52px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: url(../utils/icons/launch_black_48dp.svg) no-repeat;
  background-color: #00000050;
  background-position: center;
  z-index: 1;
}

@media (any-hover: hover) {
  .boxview-open-button {
    visibility: hidden;
    opacity: 0;
  }

  .boxview-video-wrapper:hover .boxview-open-button {
    visibility: visible;
    opacity: 1;
  }

  .boxview-iframe-wrapper:hover .boxview-open-button {
    visibility: visible;
    opacity: 1;
  }
}

@media (any-hover: none) {
  .boxview-open-button {
    visibility: visible;
    opacity: 1;
  }
}

.boxview-video-play-button_hidden,
.boxview-open-button_hidden {
  visibility: hidden;
  opacity: 0;
}

.boxview *,
.boxview *::before,
.boxview *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.boxview .button {
  background: none;
  border: none;
  cursor: pointer;
}

.boxview .button_disable {
  cursor: default;
}

.boxview .button_hidden {
  visibility: hidden;
  opacity: 0;
}

.boxview .button_visible {
  visibility: visible;
  opacity: 1;
}

.boxview .button_disable .svg-icon_disable {
  fill: var(--boxview-icon-color-disable);
}

.boxview:modal {
  max-width: 100%;
  max-height: 100%;
  user-select: none;
}

.boxview::backdrop {
  background: rgba(0, 0, 0, 0.95);
}

.boxview {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 0.95);
  overflow: hidden;
}

.boxview__container {
  --boxview-padding: 20px;
  width: 100%;
  height: 100%;
  padding-inline: var(--boxview-padding);
  padding-block-end: 0;
  --boxview-control-bar-height: 60px;
  /* option =  media preview adjustment */
  --thumbnails-track-height: 0px;
  --boxview-media-margin: 10px;
  --boxview-thumbnails-track-margin: 0px;
  --boxview-thumbnails-track-scroll-height: 0px;
  /* option = aspect-ratio */
  --boxview-horizontal-thumbnail-aspect-ratio: 16/9;
  --boxview-vertical-thumbnail-aspect-ratio: 4/6;
  --boxview-vertical-thumbnail-width: calc(
    var(--thumbnails-track-height) *
      var(--boxview-vertical-thumbnail-aspect-ratio)
  );
  --boxview-horizontal-thumbnail-width: calc(
    var(--thumbnails-track-height) *
      var(--boxview-horizontal-thumbnail-aspect-ratio)
  );

  /* option = border-radius */
  --boxview-media-border-radius: 12px;
}

.boxview__container:fullscreen {
  padding-block-start: var(--boxview-padding);
  --boxview-control-bar-height: 0px;
}

.boxview__container:not(:fullscreen) {
  padding-block-start: 0;
}

.boxview__control-bar {
  position: sticky;
  position: -webkit-sticky;
  inset-block-start: 0;
  inset-inline-start: 0;
  height: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  width: 100%;
  z-index: 9999;
}

.boxview__container:fullscreen .boxview__control-bar {
  position: absolute;
  padding-inline: 20px;
  background-color: rgba(40, 40, 40, 0.9);
  z-index: 9999;
}

.boxview__content {
  width: 100%;
  height: calc(100% - var(--boxview-control-bar-height));
  display: flex;
  flex-flow: column;
  align-items: center;
}

.boxview__container:fullscreen .boxview__content {
  width: 100%;
  height: calc(100% - var(--boxview-control-bar-height));
  display: flex;
  flex-flow: column;
  align-items: center;
}

.boxview__main-content {
  position: relative;
  display: flex;
  align-items: center; /* To center "boxview__media" element whose height in pixels is lower than "boxview__main-content" element height */
  justify-content: center;
  margin-block-end: var(--boxview-padding);
  height: calc(
    100% - var(--thumbnails-track-height) - var(--boxview-padding) -
      var(--boxview-thumbnails-track-scroll-height) -
      var(--boxview-thumbnails-track-margin)
  );
  width: 100%;
  border: none;
}

.boxview__media {
  /* Core Style */
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  max-width: 100%;

  /* Recommended Style */
  overflow: hidden;
  scroll-behavior: smooth;
  /* scrollbar-width: none; */
  border: none;

  /* Preference Style */
  border-radius: var(--boxview-media-border-radius);
}

/* .boxview__media::-webkit-scrollbar {
  display: none;
  height: 0px;
  width: 0px;
} */

.boxview__img,
.boxview__video,
.boxview__iframe {
  /* Core Style */
  user-select: none;

  /* Preference Style */
  border-radius: var(--boxview-media-border-radius);
  transition: var(--boxview-media-transition);
}

.boxview__img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.boxview__video,
.boxview__iframe {
  /* Recommended Style */
  aspect-ratio: 16/9;
}

@media (min-aspect-ratio: 16/10) {
  /* Iframe does not accept % value */
  .boxview__iframe {
    /* Core Style */
    height: calc(
      100vh - var(--thumbnails-track-height) - var(--boxview-control-bar-height) -
        var(--boxview-padding) * 2
    );
  }

  .boxview__video {
    /* Core Style */
    height: calc(
      100vh - var(--thumbnails-track-height) - var(--boxview-control-bar-height) -
        var(--boxview-padding) * 2
    );
  }
}

@media (max-aspect-ratio: 16/10) {
  /* Iframe does not accept % value */
  .boxview__iframe {
    /* Core Style */
    width: 100vw;
  }

  .boxview__video {
    /* Core Style */
    width: 100%;
  }
}

.boxview__thumbnails-track {
  display: grid;
  align-items: center;
  max-width: 100%;
  margin-block-end: var(--boxview-thumbnails-track-margin);
  padding-inline: 3px;
  height: calc(
    var(--thumbnails-track-height) +
      var(--boxview-thumbnails-track-scroll-height)
  );
  grid-auto-flow: column;
  gap: 6px;
  grid-auto-columns: var(--media-preview-width);
  scroll-behavior: smooth;
  overflow-y: hidden;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.boxview__thumbnails-track_visible {
  padding-block: 3px calc(var(--boxview-thumbnails-track-scroll-height) + 3px);
}

/* Controls */
@media (any-hover: hover) {
  .svg-icon {
    fill: var(--boxview-icon-color);
    transition: all var(--boxview-icon-transition);
  }

  .svg-icon:hover {
    fill: var(--boxview-icon-color-hover);
  }
}

@media (any-hover: none) {
  .svg-icon {
    fill: var(--boxview-icon-color-hover);
  }
}

.boxview__controls-buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.boxview__controls-buttons-wrapper_type_share {
  margin-inline-end: auto;
}

.boxview__controls-buttons-wrapper_type_interactive {
  display: flex;
  justify-content: center;
}

.boxview__controls-buttons-wrapper_type_close {
  margin-inline-start: auto;
}

/* Fullscreen */
.boxview__fullscreen-buttons {
  position: relative;
  width: 32px;
  height: 32px;
}

.boxview__fullscreen-buttons_hidden {
  display: none;
}

.boxview__fullscreen-button {
  position: absolute;
  width: 32px;
  height: 32px;
}

/* Download */
#download-button {
  display: none;
}

/* Share */
#share-button {
  display: none;
}

.share-options-buttons {
  visibility: hidden;
  position: absolute;
  inset-inline-start: 60px;
  width: max-content;
  height: max-content;
  display: flex;
  gap: 15px;
  background: rgba(0, 0, 0, 1);
  border-radius: 5px;
  transition: visibility linear 0.2s;
}

.share-options-buttons_active {
  visibility: visible;
}

/* Close */
.boxview__close-button {
  display: block;
}

/* Zoom */
.boxview__zoom-button {
  display: none;
}

.boxview__zoom-button_visible {
  display: inline-block;
}

/* Auto-Scroll */
.boxview__auto-scroll-buttons {
  display: none;
  position: relative;
  width: 32px;
  height: 32px;
}

.boxview__auto-scroll-button {
  display: none;
  position: absolute;
  width: 32px;
  height: 32px;
}

/* Thumbnails */
.boxview__thumbnails-buttons {
  position: relative;
  width: 32px;
  height: 32px;
}

.boxview__thumbnails-buttons_hidden {
  display: none;
}

.boxview__thumbnails-button {
  position: absolute;
  width: 32px;
  height: 32px;
}

.boxview__thumbnails-icon {
  rotate: 90deg;
}

.svg-icon_nav {
  /* Preference Style */
  border-radius: 50%;
  transition: transform var(--boxview-icon-transition);
}

@media (450px < width) {
  .boxview__navigate-button {
    /* Core Style */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    --navigate-button-width: 50px;
    width: var(--navigate-button-width);
    z-index: 1;

    /* Preference Style */
    height: calc(var(--navigate-button-width) + 10%);
  }

  .boxview__navigate-button_before {
    /* Core Style */
    inset-inline-start: 0px;
  }

  .boxview__navigate-button_next {
    /* Core Style */
    inset-inline-start: calc(99% - var(--boxview-padding) * 2);
  }

  .svg-icon_nav {
    /* Preference Style */
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@media (450px > width) {
  .boxview__navigate-button {
    /* Preference Style */
    display: none;
  }
}

@media (any-hover: hover) {
  .svg-icon_nav {
    /* Preference Style */
    fill: rgb(220, 220, 220);
  }

  .boxview__navigate-button:hover .svg-icon_nav {
    /* Preference Style */
    transform: scale(1.2);
    fill: rgb(250, 250, 250);
  }
}

@media (any-hover: none) {
  .svg-icon_nav {
    background-color: none;
    transform: scale(1);
    fill: rgb(250, 250, 250);
  }
}

.boxview__thumbnail-wrapper {
  position: relative;
  height: calc(var(--thumbnails-track-height) - 6px);
  /* option = border-radius */
  border-radius: 4px;
  overflow: hidden;
}

.boxview__thumbnail-wrapper_active {
  outline: solid 3px;
  /* option = outline-color */
  outline-color: white;
}

.boxview__alternate-thumbnail-wrapper {
  border: 1px solid rgba(250, 250, 250, 0.5);
}

.boxview__thumbnail-wrapper_horizontal {
  width: var(--boxview-horizontal-thumbnail-width);
}

.boxview__thumbnail-wrapper_vertical {
  width: var(--boxview-vertical-thumbnail-width);
}

.boxview__thumbnail-wrapper_square {
  width: calc(var(--thumbnails-track-height));
}

.boxview__thumbnail {
  /* option = border-radius */
  border-radius: 4px;
  transition: all linear 0.2s;
  object-fit: cover;
  object-position: center;
  height: calc(var(--thumbnails-track-height) - 6px);
  user-select: none;
  z-index: 1000;
}

.boxview__play-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  background-position: center;
  background-image: url('../utils/icons/play_circle_opsz48.svg');
  background-repeat: no-repeat;
  z-index: 100;
}

.boxview__alternate-thumbnail {
  height: calc(var(--thumbnails-track-height) - 6px);
  aspect-ratio: 16/9;
  background-image: url('../utils/icons/play_circle_opsz48.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.boxview__thumbnail_horizontal {
  width: var(--boxview-horizontal-thumbnail-width);
}

.boxview__thumbnail_vertical {
  width: var(--boxview-vertical-thumbnail-width);
}

.boxview__thumbnail_square {
  width: calc(var(--thumbnails-track-height));
}

@media (any-hover: hover) {
  .boxview__thumbnail-wrapper:hover * {
    scale: 1.1;
  }
}

/* Scrollbar */
/* Boxview thumbnails scrollbar */
.boxview__thumbnails-track::-webkit-scrollbar {
  display: block;
  height: 8px;
}

.boxview__thumbnails-track::-webkit-scrollbar-track {
  background-color: rgb(40, 40, 40);
  border-radius: 100vw;
}

.boxview__thumbnails-track::-webkit-scrollbar-thumb {
  background-color: var(--boxview-icon-color);
  border: 2px solid rgb(40, 40, 40);
  border-radius: 100vw;
}

.boxview__thumbnails-track::-webkit-scrollbar-thumb:hover {
  background-color: var(--boxview-icon-color-hover);
}

/* @media (100px <= width <= 1900px) {

} */
